<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

{% block content %}
    <h2>Give feedback</h2>
    <form method="post" action="{{ url_for('feedback', book_title=book_title, book_author=book_author) }}">
        <div class="form-group">
            <label for="feedback">Enter your feedback:</label>
            <textarea class="form-control" id="feedback" name="feedback" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

</body>
</html>