.card {
    
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    /* max-height:15rem; */
}

.card-imgtop {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    max-height: 5rem;
    object-fit: contain;

}

.card-body {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    /* max-height: 5rem; */
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    max-width:0.1rem;
}
