<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="bg-image"
style="
  background-image: url('https://thumbs.dreamstime.com/b/old-book-flying-letters-magic-light-background-bookshelf-library-ancient-books-as-symbol-knowledge-history-218640948.jpg');
  height: 100vh;
"
>
 
  <div class=" container mt-5">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <h1 style=" border-top:10px; font-size: 40px; border-spacing: 0cap;text-emphasis-color: black;text-align: center;color: black;">Book Mate</h1>
            
          </div>
          <h3 class="pl-3 pt-3 mb-0">Login</h3>
          <div class="card-body">
            
            {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            {% endif %}
            <form action="{{ url_for('login') }}" method="POST">
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <div class="mt-3">
              <p>Don't have an account? <a href="/signup">Sign up here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Include Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-PFKng8/tzUhM7vHms6VK5d5ZreUgR5l/qv5KtkNOQh7V4A4eY3aVtwfpeQIJCht9"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

